/* selector universal */
* {
    font-family: monospace, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
/* selector de etiqueta */
h1 {
    color: red;
    font-size: 50px;
    text-align: center;
}
/* selector de id(unico) */
#azul {
    color: blue;
    font-size: 60px;
    text-align: end;
    overflow: hidden;
}
/* selector de clases */
.verde {
    color: green;
    font-size: 30px;
    text-align: start;
}

.chicadelafoto {
    width: 10em;
    

}




